.fm-container {
  left: 2.910448rem;
  width: calc(100% - 2.910448rem);
  height: calc(100% - 0.895522rem);
  font-size: 0;
}

/* fm-table-container */

.fm-table-container {
  height: calc(100% - 0.2rem);
}

.fm-table-header {
  height: 0.820896rem;
  padding: 0.164179rem 0.149254rem;
  font-size: 0.238806rem;
  user-select: none;
  justify-content: space-between;
  background-color: #fff;
  z-index: 50;
}

.fm-table-header-leftBtns {
  font-size: 0;
}

.fm-table-header-leftBtns > label {
  height: 0.462687rem;
  border: 0.014925rem solid rgb(9, 170, 255);
  border-radius: 0.059701rem;
  background-color: white;
  font-size: 0.238806rem;
  vertical-align: middle;
  margin: 0 0.223881rem;
  color: rgb(9, 170, 255);
  cursor: pointer;
}

.fm-table-header-leftBtns span,
.fm-table-header-leftBtns label:first-child {
  padding: 0.109254rem 0.149254rem;
}

.fm-table-header-leftBtns i {
  padding: 0 0.044776rem;
}

.fm-table-header-leftBtns > label.check,
.fm-table-header-leftBtns > label:hover {
  background-color: rgb(9, 170, 255);
  color: white;
}

.fm-table-header-rightTools {
  margin-right: 0.358209rem;
  color: rgb(102, 102, 102);
  font-size: 0;
}

.fm-table-header-rightTools > * {
  margin: 0 0.059701rem;
  vertical-align: middle;
}

.fm-table-header-rightTools .fm-table-header-search {
  background-color: rgb(241, 242, 244);
  border-radius: 0.223881rem;
  align-items: center;
  padding-left: 0.298507rem;
  height: 0.447761rem;
}

.fm-table-header-rightTools .fm-table-header-search i {
  right: 0.149254rem;
  font-size: 0.238806rem;
}

.fm-table-header-rightTools .fm-table-header-search-input {
  font-size: 0.238806rem;
  border: none;
  outline: none;
  background-color: transparent;
  width: 3.358209rem;
  padding: 0 0.80597rem 0 0.223881rem;
}

.fm-table-header-rightTools ::placeholder {
  font-size: 0.179104rem;
  vertical-align: middle;
}

.fm-table-header-rightTools .fm-table-search-btn,
.fm-table-header-rightTools .fm-table-header-sort,
.fm-table-header-rightTools .fm-table-header-big {
  font-size: 0.238806rem;
  padding: 0.089552rem 0.119403rem;
  border-radius: 0.029851rem;
  cursor: pointer;
}

.fm-table-header-rightTools span:hover,
.fm-table-header-rightTools span.check {
  color: rgb(9, 170, 255);
}

.fm-table {
  overflow: auto;
  max-height: calc(100% - 1rem);
}

.fm-table .fm-table-show {
  table-layout: fixed;
  border-collapse: collapse;
  padding: 0.059701rem 0.119403rem;
  width: 100%;
  font-size: 0.238806rem;
  font-family: consolas;
}

.fm-table .fm-table-show thead tr th {
  font-weight: normal;
  border: none;
  font-size: 0.208955rem;
  padding: 0.149254rem 0;
  color: rgb(102, 102, 102);
  text-indent: 0.298507rem;
  text-align: left;
  user-select: none;
  cursor: pointer;
  position: sticky;
  background-color: #fff;
  box-shadow: 0 0.029851rem 0.029851rem rgba(200, 200, 200, 0.2);
  z-index: 70;
  top: 0;
}

.fm-table .fm-table-show thead tr th:first-child {
  width: 45%;
  text-indent: 0.746269rem;
}

.fm-table .fm-table-show thead tr th:hover,
.fm-table .fm-table-show tbody tr:hover {
  background-color: rgb(244, 251, 255);
}

.fm-table .fm-table-show tbody tr td input {
  width: 0.208955rem;
  height: 0.208955rem;
  border-radius: 0.059701rem;
}

.fm-table .fm-table-show tbody tr td i {
  color: rgb(9, 170, 255);
}

.fm-table .fm-table-show tbody tr td {
  color: rgb(102, 102, 102);
  padding: 0.179104rem 0;
  text-indent: 0.298507rem;
}

.fm-table .fm-table-show tbody tr td:first-child > * {
  font-size: 0.238806rem;
}

.fm-table .fm-table-show tbody tr td:first-child a {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fm-table .fm-table-show tbody tr td:first-child .fm-table-submit {
  right: 0.074627rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.208955rem;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0.059701rem;
  padding: 0.029851rem 0.119403rem;
  outline: none;
  background-color: rgb(244, 251, 255);
  color: rgb(9, 170, 255);
  cursor: pointer;
}

.fm-table .fm-table-show tbody tr td.success-submit::after {
  content: "success";
  text-indent: 0;
  color: green;
  position: absolute;
  right: 0.074627rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.208955rem;
  border: none;
  border-radius: 0.059701rem;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0.029851rem 0.119403rem;
}

.fm-table .fm-table-show tbody tr td.failed-submit::after {
  content: "failed";
  text-indent: 0;
  color: red;
  position: absolute;
  right: 0.074627rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.208955rem;
  border: none;
  border-radius: 0.059701rem;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0.029851rem 0.119403rem;
}

.fm-table .fm-table-show tbody tr td:first-child .fm-table-submit:hover {
  background-color: rgb(234, 241, 245);
  box-shadow: 0.014925rem 0.044776rem 0.059701rem rgba(200, 200, 200, 0.4);
}

.fm-table .fm-table-checkAll {
  border-radius: 0.074627rem;
  bottom: 1.19403rem;
  right: 1.19403rem;
  font-size: 0.283582rem;
  padding: 0.149254rem 0.298507rem;
  border: 0.014925rem solid #eee;
  background-color: #fff;
  user-select: none;
  cursor: pointer;
}

.fm-table .fm-table-checkAll input {
  width: 0.208955rem;
  height: 0.208955rem;
}

.fm-table .fm-table-checkAll:hover {
  box-shadow: 0 0 0.089552rem rgba(0, 0, 0, 0.12);
}

.fm-table-big {
  padding: 0.268657rem 0.268657rem;
  font-size: 0;
}

.fm-table-big .fm-file-item,
.fm-table-big .fm-folder-item {
  width: 2.985075rem;
  position: relative;
  margin: 0.208955rem 0.208955rem;
  font-size: 0.238806rem;
  border: 0.014925rem solid #eee;
  color: rgb(102, 102, 102);
  padding: 0.149254rem 0;
  border-radius: 0.089552rem;
  font-family: consolas;
  user-select: none;
  cursor: pointer;
  text-align: center;
}

.fm-table-big .fm-file-item i,
.fm-table-big .fm-folder-item i {
  color: rgb(9, 170, 255);
  display: block;
  font-size: 0.746269rem;
  margin: 0.149254rem 0;
}

.fm-table-big .fm-file-item .submit {
  width: calc(100% + 0.059701rem);
  height: calc(100% + 0.059701rem);
  left: 50%;
  top: 50%;
  border-radius: 0.059701rem;
  transform: translate(-50%, -50%);
  background-color: #eee;
}

.fm-table-big .fm-file-item .submit::after {
  position: absolute;
  content: attr(data-filename);
  font-size: 0.208955rem;
  color: rgb(102, 102, 102);
  padding: 0.059701rem 0.074627rem;
  max-width: 90%;
  left: 50%;
  top: 78%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fm-table-big .fm-file-item .submit input {
  border: none;
  border-radius: 0.059701rem;
  padding: 0.029851rem 0.119403rem;
  outline: none;
  background-color: rgb(244, 251, 255);
  color: rgb(9, 170, 255);
  cursor: pointer;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.fm-table-big .fm-file-item .submit input:hover {
  background-color: rgb(234, 241, 245);
  box-shadow: 0.014925rem 0.044776rem 0.059701rem rgba(200, 200, 200, 0.4);
}

.fm-table-big .fm-file-item:hover,
.fm-table-big .fm-folder-item:hover {
  color: white;
  background-color: rgb(9, 170, 255);
}

.fm-table-big .fm-file-item:hover i,
.fm-table-big .fm-folder-item:hover i {
  color: white;
}

.fm-table-big .fm-file-item:hover::before {
  position: absolute;
  font-size: 0.179104rem;
  content: "右键选中";
  right: 0.119403rem;
  top: 0.074627rem;
}

.fm-table-big .fm-file-item.check::before {
  position: absolute;
  font-size: 0.298507rem;
  content: "☑";
  right: 0.119403rem;
  top: 0.074627rem;
}

.fm-table-big .fm-file-item .fm-file-name,
.fm-table-big .fm-folder-item .fm-file-name {
  font-size: 0.208955rem;
  padding: 0 0.149254rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fm-table-big .fm-file-item.success-submit::after {
  content: "提交成功";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102%;
  height: 102%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.074627rem;
  background-color: #eee;
  color: green;
  font-size: 0.208955rem;
}

.fm-table-big .fm-file-item.failed-submit::after {
  content: "提交失败";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102%;
  height: 102%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.074627rem;
  background-color: #eee;
  color: red;
  font-size: 0.208955rem;
}
/* fm-table-container */

/* fm-echarts-container */

.fm-echarts-container {
  height: calc(100% - 0.2rem);
}

.fm-echarts-header {
  padding: 0.2rem 1rem;
  font-size: 0.238806rem;
  user-select: none;
  background-color: #fff;
  z-index: 150;
}

.fm-echarts-header .fm-data-module > div {
  margin: 0 0.18rem;
  border: 0.014925rem solid #ddd;
  border-radius: 0.089552rem;
  font-size: 0.268657rem;
  padding: 0.119403rem 0.268657rem;
  cursor: pointer;
}

.fm-echarts-header .fm-data-module > div:hover,
.fm-echarts-header .fm-data-module > div.check {
  background-color: rgba(200, 200, 200, 0.3);
  box-shadow: 0.029851rem 0.029851rem 0.059701rem rgba(102, 102, 102, 0.5);
}

.fm-echarts {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11.940299rem;
  height: 6.716418rem;
  background-color: #fff;
  border: 0.014925rem solid #ccc;
  border-radius: 0.089552rem;
  padding: 0.179104rem 0.268657rem;
}

/* fm-echarts-container */
