.fm-contextmenu {
  top: 1.791045rem;
  left: 0.149254rem;
  padding: 0.089552rem 0.149254rem;
  border-radius: 0.089552rem;
  background-color: #fff;
  box-shadow: 0.014925rem 0.014925rem 0.044776rem 0.029851rem
    rgba(100, 100, 100, 0.1);
  user-select: none;
}

.fm-contextmenu:hover {
  box-shadow: 0.044776rem 0.044776rem 0.059701rem 0.044776rem
      rgba(150, 150, 150, 0.2),
    -0.029851rem -0.029851rem 0.044776rem 0.029851rem rgba(150, 150, 150, 0.2);
}

.fm-context-ul {
  min-width: 1.791045rem;
  font-size: 0.268657rem;
}

.fm-context-ul .fm-context-item {
  padding: 0.119403rem 0.208955rem;
  border-radius: 0.074627rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.fm-context-ul .fm-context-item.disable {
  background-color: rgba(200, 200, 200, 0.1);
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.fm-context-ul .fm-context-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 0.014925rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ddd;
}

.fm-context-ul .fm-context-item:not(.disable):hover {
  background-color: rgba(150, 150, 150, 0.06);
  color: rgb(9, 170, 255);
}
